/*****BASE STYLES*****/

html {
	font-size: 16px;
}

body {
    font-family: 'Karla', sans-serif;
    color: #2b2b2b;
}

p {
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.full-width{
    width: 100%;
    overflow: auto;
}

.container {
	width: 90%;
    margin: 50px 0;
}



/****HEADER & FOOTER STYLES*****/
header {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
	overflow: auto;
	background-color: #2A6F75;
	opacity: 0.9;

}

header .container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 20px 0;
}

header h1 {
    font-family: 'Lato', sans-serif;
    color: azure;
    font-size: 2.25rem;
	display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.header-divider {
    height: .5px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 20px 0;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

nav ul li {
    list-style: none;
    padding: 5px;

}

nav ul li a {
    color:#5EE0F7;
    font-size: 1.25rem;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
}


header h2 {
    font-size: 2em;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*****HERO AREA*****/

.hero-area {
	display: flex;
    justify-content: center;
    align-items: center;
	color: #352752;
}

/*****PORTFOLIO AREA*****/

#portfolio {
    display: flex;
    justify-content: center;
	background-color: azure;
}

#portfolio h3 {
	font-size: 1.75rem;
	font-family: 'Lato', sans-serif;
	color: #352752;
	margin: 2px;
	text-align: center;
}

#portfolio .projects {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
	
}

#portfolio .project-item {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	margin: 40px 0;
}
#portfolio .full-width {
    background-color: #FFFFFF;
    background-size: cover;
    text-align: center;
}

#portfolio .project-item .thumbnail {
	border: 1px solid #b7b7b7;
	width: 100%;
}

/*****ABOUT AREA*****/

#about {
	background-color: #096575;
    background-size: cover;
	color: azure;
	display: flex;
	justify-content:center;
}

#about .content-wrapper {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#about h3 {
	color: azure;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 2rem;
	font-weight: 900;
}

#about .about-img {
    padding-left: 40px;
    padding-bottom: 60px; 
	margin-bottom: 30px;
}

#about h4 {
    font-size: 1.5rem;
    padding-top: 10px;
	padding-right: 20px;
}

#about p {
    padding-top: 25px;
    padding-right: 60px;
}

/*****CONTACT AREA*****/

#contact {
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: azure;
}

#contact .full-width {
    padding: 20px 0;
    background-color: #0D6E6C;
}

#contact h3 {
	color: #352752;
	font-size: 1.5rem;
	text-align: center;
	display: block;	
	margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#contact .contact-item {
	margin: 40px 0;
}

#contact h5 {
    font-size: 1.25rem;
    text-align: center;
	color: #352752;
}

#contact img {
  padding-left: 10px;
  align-items: center;
}

#contact a {
    color: #352752;
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
}

#contact .envelope {
	display: block;
	justify-content: center;
	align-items: center;
	align-content: center;
	
}

#contact ul {
	margin: 20px;
	padding: 0;
}

#contact ul li {
    display: inline-block;
    padding: 0 20px;
}

#contact p {
     text-align: center;
     padding-left: 60px;
 }

/*****FOOTER*****/

footer {
	display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/****Media Queries*********/

@media screen and (min-width: 1200px) {
	.hero-area container {
		margin: 50px 0 300px 0;
	}
	
	.hero-area h2 {
		font-size: 1.75rem;
    	max-width: 1100px;
	}
	#portfolio .projects {
		justify-content: space-around;
	}
	
	#porfolio .project-item {
		min-width: 490px;
		max-width: 35%
	}
}
	
	
@media screen and (min-width: 768px){
	nav ul {
		flex-flow: row-wrap;
		justify-content: space-between;	
}
	
.header-divider {
	display: none;
}
nav ul {
    justify-content: space-between;
    flex-flow: row wrap;
    width: 265px;
}

nav ul li {
	paddng:0;
}
#about .about-text {
	display: flex;
	justify-content: center;
	width: 100%;
}

#about .about-image {
	display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 300px;
    max-width: 350px;
}

}
/***color palette:
	Text: #352752; Background color: #2A6F75;
	About color: #096575
	
	****/


